.scoreBtn {
    background-color: rgba(45, 155, 11, 0.24);
}

.startBtn {
    background-color: rgba(45, 155, 11, 0.24);
}

.questionSpace {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
}